/********** Template CSS **********/
:root {
    --primary: #1f275b;
    --secondary: #15ACE1;
    --light: #F4F7FE;
    --dark: #14183E;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}
.back-to-robo {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 100px;
    z-index: 99;
}

/* Robot Image */
.back-to-robo i {
    font-size: 2rem;
    padding:4px 8px;
    color: white;
    border-radius: 50px;
background: linear-gradient( #1f275b, #6a5af9) !important;
    /* entry animation + continuous jump */
    animation: 
        popIn 0.5s ease-out forwards,
        jump 1.2s ease-in-out infinite;
}

/* Entry animation */
@keyframes popIn {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* Jumping animation */
@keyframes jump {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-8px);
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(-6px);
    }
    100% {
        transform: translateY(0);
    }
}



/*** Heading ***/
h1,
h2,
h3,
.fw-bold {
    font-weight: 700 !important;
}

h4,
h5,
h6,
.fw-medium {
    font-weight: 500 !important;
}


/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}


/*** Navbar ***/
.sticky-top {
    top: -150px;
    transition: .5s;
}
    /* .hero-header .btn-light{
background-color:#1f275b !important;
color:white !important;
    }
    .navbar .btn-light{
background-color:#1f275b !important;
color:white !important;
    } */
.navbar {
    padding: 11px 15px !important;
    height: 75px;
}

.navbar .navbar-nav {
    flex-wrap: nowrap;
}

.navbar .navbar-nav .nav-link {
    margin-right: 25px;
    padding: 0;
    color: #000000;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color:#b01e23;
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav {
        padding: 0 15px;
        background: var(--primary);
    }

    .navbar .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
        color:white;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}

.logo-img{
    width:150px;
}
/*** Hero Header ***/
.hero-header {
    margin-top: -75px;
    /* background: url(../img/bg-hero.png) center center no-repeat; */
    background-size: cover;
}

.hero-header .breadcrumb-item+.breadcrumb-item::before {
    color: var(--light);
}


/*** Section Title ***/
.section-title::before {
    position: absolute;
    content: "";
    width: 45px;
    height: 4px;
    bottom: 0;
    left: 0;
    background: var(--dark);
}

.section-title::after {
    position: absolute;
    content: "";
    width: 4px;
    height: 4px;
    bottom: 0;
    left: 50px;
    background: var(--dark);
}

.section-title.text-center::before {
    left: 50%;
    margin-left: -25px;
}

.section-title.text-center::after {
    left: 50%;
    margin-left: 25px;
}

.section-title h6::before,
.section-title h6::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    top: 2px;
    left: 0;
    background: rgba(33, 66, 177, .5);
}

.section-title h6::after {
    top: 5px;
    left: 3px;
}


/*** About ***/
.about-img {
    position: relative;
    overflow: hidden;
}

.about-img::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../img/bg-about-img.png) top left no-repeat;
    background-size: contain;
}


/*** Service ***/
.service-item {
    position: relative;
    padding: 45px 30px;
    /* background: linear-gradient(45deg, #00f2fe, #4facfe, #7000ff); */
    background: var(--primary);
    color: white;
    border-radius: 35% 45% 40% 50%;
    z-index: 1;
}

.service-item::after {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    top: -10%;
    left: -10%;
    background: radial-gradient(circle,
        rgba(255,255,255,0.25),
        transparent 65%);
    border-radius: 50%;
    z-index: -1;
}




.service-item:hover::before {
    opacity: 1;
}

.service-item:hover {
    
}

.service-item .service-icon {
    margin: 0 auto 20px auto;
    width: 90px;
    height: 90px;
    color: var(--primary);
    background: var(--light);
    transition: .5s;
}

.service-item:hover .service-icon {
    background: #FFFFFF;
}

.service-item h5,
.service-item p {
    transition: .5s;
}

.service-item:hover h5,
.service-item:hover p {
    color: #FFFFFF;
}
.service-item h5,
.service-item p {
    color: #FFFFFF;
}

.service-item a.btn {
    position: relative;
    display: flex;
    color: var(--white);
    transition: .5s;
    z-index: 1;
}

.service-item:hover a.btn {
    color: var(--primary);
}

.service-item a.btn::before {
    position: absolute;
    content: "";
    width: 35px;
    height: 35px;
    top: 0;
    left: 0;
    border-radius: 35px;
    background: var(--primary);
    transition: .5s;
    z-index: -1;
   
}

.service-item:hover a.btn::before {
    width: 100%;
    background: var(--light);
    display: flex;
}


/*** Case Study ***/
.case-item img {
    transition: .5s;
}
  
.case-item:hover img {
    transform: scale(1.2);
}
  
.case-overlay {
    position: absolute;
    padding: 30px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    background: linear-gradient(rgba(20, 24, 62, 0), var(--dark));
    z-index: 1;
}

.case-overlay small {
    display: inline-block;
    padding: 3px 15px;
    color: #FFFFFF;
    background: rgba(20, 24, 62, .7);
    border-radius: 25px;
    margin-bottom: 15px;
}

.case-overlay span.btn:hover {
    color: var(--primary);
    background: #FFFFFF;
    border-color: #FFFFFF;
}


/*** Footer ***/
.footer {
    position: relative;   /* important */
    background: url(../img/images/foot1.png) center center no-repeat;
    background-size: cover;
    height: auto;
    z-index: 0;           /* bottom layer */
}
/*** Testimonial ***/
.testimonial-carousel {
    position: relative;
}

.testimonial-carousel .owl-nav {
    position: absolute;
    width: 40px;
    height: 100%;
    top: calc(50% - 50px);
    left: -21px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    margin: 5px 0;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
    background: #FFFFFF;
    border: 1px solid var(--primary);
    border-radius: 40px;
    font-size: 18px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    color: #FFFFFF;
}

.testimonial-carousel .owl-dots {
    margin-top: 35px;
    margin-left: 3rem;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    width: 15px;
    height: 15px;
    background: #FFFFFF;
    border: 1px solid var(--primary);
    border-radius: 15px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    width: 30px;
    background: var(--primary);
}


.footer::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(20, 24, 62, .9); /* black overlay */
    z-index: -1; /* OR 1 depends on content structure */
}


.footer .btn.btn-social {
    margin-right: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* color: rgba(255,255,255,.5); */
    color:#fffefe;
    border: 1px solid rgba(256, 256, 256, .1);
    border-radius: 40px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 10px;
    padding: 0;
    text-align: left;
    /* color: rgba(255,255,255,.5); */
    color: #e8e3e3;
    font-weight: normal;
    transition: .3s;
}

.footer .btn.btn-link:hover {
    color: #fffefe;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 14px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    /* color: rgba(255,255,255,.5); */
    color:#fffefe;
}

.footer .copyright a:hover {
    color: #fffefe;
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    /* border-right: 1px solid rgba(255, 255, 255, .1); */
    border-right: 1px solid #fffefe;
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}


.lang-switcher {
    margin-left: 15px;
}

.lang-switcher {
    position: relative;
    display: flex;
    background: linear-gradient(135deg, #1f275b, #6a5af9) !important;
    border-radius: 50rem;
}

.lang-btn {
    color: #fff;
    padding: 8px 16px;
    /* border-radius: 3px; */
    border: none;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    background: none;
    background-color: none;
}
.lang-btn .fa-globe{
    margin-right: 5px;
}
.lang-menu {
    position: absolute;
    top: 110%;
    right: 0;
    /* border-radius: 1px; */
    width: 160px;
    list-style: none;
    padding: 0;
    margin: 0;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    display: none;
    z-index: 999;
    background:white;
}

.lang-menu li a {
    display: block;
    padding: 10px 15px;
    color: #333;
    text-decoration: none;
    transition: 0.3s;
}

.lang-menu li a:hover {
    background: #1f275b;
    color: #fff;
    border-radius: 8px;
}

@media (max-width: 991px) {
    .lang-btn {
        width: 100%;
        justify-content: center;
    }
    .lang-menu {
        width: 100%;
    }
}

iframe.goog-te-banner-frame {
    display: none !important;
}

.goog-te-gadget-icon {
    display: none !important;
}

/* Hide Google top bar */
.goog-te-banner-frame.skiptranslate {
    display: none !important;
}

/* Adjust body position after hiding bar */
body {
    top: 0px !important;
    /* background: linear-gradient( #1f275b, #6a5af9); */
}
 .VIpgJd-ZVi9od-ORHb-OEVmcd{
        display: none;
    }
    .VIpgJd-yAWNEb-L7lbkb{
        display: none;
    }
    @media(max-width:992px){
        .logo-img{
            width:120px;
        }
        .lang-btn{
            padding: 6px 10px;
            font-size: 12px;
        }
        .navbar-toggler-icon{
            width:1.1em;
            height:1.1em;
        }
        .read-more{
            font-size: 0.9rem;
        }
    }
    .contact-uss{
        color: #fff;
        /* border-radius: 10px; */
    }
    .contact-uss:hover{
        color:#b01e23;
    }
